<a href="https://colab.research.google.com/github/AviSinghub/Class-11-Python-Notes/blob/main/JP_Tut_py01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1
d = 2
print (a+d)

3

In [ ]:
# this an if else condition yeh mera code hai.
a = 15
b = a-10
print(a+3)
if b>5 : # colon laganese block end hota hai.
  print("Value of'a was more than 15 initially.")
else:
    print ("value of 'a' was 15 or less initially.")

18
value of 'a' was 15 or less initially.

In [2]:
a = 2
b = 7
print(a+b)
if a>b :
  print(" 'a' is a greater  number than 'b'.")
else :
  print("'a' is smaller than 'b' number .")

9
'a' is smaller than 'b' number .

In [ ]:
print("hello")

In [ ]:
#list 
#list ka syntax a = [1,2,6]
a = [ 12,56,40,41,66,23,78,87]
print(a)
a[7]

[12, 56, 40, 41, 66, 23, 78, 87]

87

In [ ]:
#list for string
b = ['as','fg', 'mn']
print(b)
b[2]

'mn'

In [ ]:
l=['dy','dm','og','gf']
print(l)
l[3]

['dy', 'dm', 'og', 'gf']

'gf'

In [ ]:
d = [12,'hs', 45.012]
print(d)
d[2]

[12, 'hs', 45.012]

45.012

In [ ]:
#tuple 
# tuple mai a =(1,2,3)
a = (1,5,6,9,10)
print(type(a))
a[2]

<class 'tuple'>

6

In [ ]:
#dictonary 
#dictonary ka syntax //  var = {String:integer or foat, string: integer}
Marks = {'maths':50,'ip': 85,'english':76}
print(Marks)
Marks['maths']

{'maths': 50, 'ip': 85, 'english': 76}

50